﻿@model MovieShopUser.Models.OrderCompletionViewModel

@{
    ViewBag.Title = "OrderCompletionForm";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="OrderCompletionLook.css">

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="loginmodal-container">
            <h1>Complete you order</h1><br>
            <form>
                <input type="text" name="email" placeholder="E-mail">
                @*<input type="password" name="pass" placeholder="Password">*@
                <input type="submit" name="Check" class="login loginmodal-submit" value="Check">

            </form>

            @*<div class="login-help">
                    <a href="#">Register</a> - <a href="#">Forgot Password</a>
                </div>*@
        </div>
    </div>
</div>

@*<h2>View</h2>*@
