@{
    ViewBag.Title = "Home Page";
}

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 my-header">
            
            <h2 class="h2-frontIndexUser">Choose from one of the options below.</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 left_indexPage">
            <div class="col-md-12 text-center">
                <p>I have an account.</p>
                <button type="button" class="btn btn-lg btn-success button-frontIndex">Log in</button>
            </div>
        </div>
        <div class="col-md-6 right_indexPage">
            <div class="col-md-12 text-center">
                <p>I want to register.</p>
                <button type="button" class="btn btn-lg btn-danger button-frontIndex">Register</button>
            </div>
        </div>
    </div>
</div>
</body>