@{
    ViewBag.Title = "Home Page";
}

<body id="home" data-spy="scroll" data-target=".navbar-collapse" data-offset="100">
<div class="shouter">
    <div class="container">
        <h3>MovieSHOP.<span style="color: #fff">EASV</span></h3>
        <p class="shouter_p">The easiest way to watch your favourite movies.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p class="bgImagedImg">Choose your option:</p>
        </div>
        <div class="col-sm-6 text-center">
            <button type="button" class="btn btn-success btn-lg">Success</button>
            <button type="button" class="btn btn-danger btn-lg">Danger</button>
        </div>

    </div>

</div>
</body>